@page
@using RestaurantOrderSystem.Models
@model RestaurantOrderSystem.Pages.HallModel
@{
    <form method="post" asp-page-handler="AddTable">
        <label>Row</label>
        <input type="number" name ="row" class="add-table-row" />
        <label>Column</label>
        <input type="number" name ="col" class="add-table-col" />
        <button type="submit">Add Table</button>
    </form>
    <div class="grid">
        @for (int row = 0; row < 10; row++)
        {
            <div class="grid-row">
                @for (int col = 0; col < 10; col++)
                {
                    var hasTable = Model.Tables.Any(t => t.Row == row && t.Col == col);
                    <div class="grid-cell">
                        @if (hasTable)
                        {
                            <div class="table-cell">🟦</div>
                        }
                    </div>
                }
            </div>
        }
    </div>

}
