@page
@using RestaurantOrderSystem.Models
@model RestaurantOrderSystem.Pages.TableModel
@{
    <h2>Table @Model.Table.Number</h2>
    <p>ID: @Model.Table.Id</p>
    <p>Row: @Model.Table.Row, Col: @Model.Table.Col</p>
}
